<div id="video-player-url-input-wrapper" class="pure-form text-center">
  <label for="video-player-url-input"><strong>YouTube video URL:</strong></label>
  <div>
    {{input
      id="video-player-url-input"
      type="text"
      value=fieldInput
      class="square-edges"
      placeholder="Paste a YouTube video URL in here"
    }}
  </div>
</div>
