<div id="video-player" class="text-center">
  {{#unless project}}
    <div id="video-player-help">
      <div>
        <h1>
          Paste a YouTube video link into the box above to get started!
        </h1>
        <p>
          Here are a couple example links to try:
          <br><br>
          https://www.youtube.com/watch?v=bXf5huCVSGE
          <br>
          https://www.youtube.com/watch?v=YAOIbHBEvi0
        </p>
      </div>
    </div>
  {{/unless}}
  {{ember-youtube
    ytid=project.videoId
    playerVars=playerVars
    delegate=this
    delegate-as="youtubePlayer"
  }}
</div>
