<div id="video-player-input-wrapper" class="text-center">
  <label for="video-player-input">Enter YouTube video URL:</label><br>
  {{input id="video-player-input" type="text" value=videoUrl}}<br>
</div>
