<div id="video-player-url-input-wrapper" class="pure-form text-center">
  <label for="video-player-url-input"><strong>Enter YouTube Video URL below:</strong></label>
  <div>{{input id="video-player-url-input" type="text" value=fieldInput class="square-edges"}}</div>
</div>
