<div id="video-slicer">
  <!-- VIDEO INPUT -->
  {{video-player-url-input
    projects=projects
    project=activeProject
    action="updateVideoInformation"}}
  <!-- VIDEO PLAYER -->
  {{video-player
    project=activeProject
    currentTime=videoPlayerCurrentTime
  }}
  <!-- SLICING CONTROLS -->
  <div id="video-player-controls-wrapper">
    {{video-player-controls
      project=activeProject
      videoCurrentTime=videoPlayerCurrentTime
      slice="createAndActivateSlice"
    }}
  </div>
</div>
