@-webkit-keyframes yellowGlow {
  0% { box-shadow: 0 0 50px #EDF33D; }
  20% { box-shadow: 0 0 40px #EDF33D; }
  40% { box-shadow: 0 0 30px #EDF33D; }
  60% { box-shadow: 0 0 20px #EDF33D; }
  80% { box-shadow: 0 0 10px #EDF33D; }
  85% { box-shadow: 0 0 7px #EDF33D; }
  90% { box-shadow: 0 0 5px #EDF33D; }
  95% { box-shadow: 0 0 2px #EDF33D; }
  100% { box-shadow:none; }
}
@-webkit-keyframes blueGlow {
  0% { box-shadow: 0 0 50px #096DBE; }
  20% { box-shadow: 0 0 40px #096DBE; }
  40% { box-shadow: 0 0 30px #096DBE; }
  60% { box-shadow: 0 0 20px #096DBE; }
  80% { box-shadow: 0 0 10px #096DBE; }
  85% { box-shadow: 0 0 7px #096DBE; }
  90% { box-shadow: 0 0 5px #096DBE; }
  95% { box-shadow: 0 0 2px #096DBE; }
  100% { box-shadow:none; }
}
@-webkit-keyframes blink {
  0% {opacity:1;}
  50% {opacity:0;}
  100% {opacity:1;}
}
@-webkit-keyframes blinkFade {
  0% {opacity:1;}
  15% {opacity:.7;}
  30% {opacity:.3;}
  50% {opacity:0;}
  65% {opacity:.3;}
  80% {opacity:.7;}
  100% {opacity:1;}
}
