@-webkit-keyframes yellowGlow {
  0% { box-shadow: 0 0 50px #EDF33D; }
  25% { box-shadow: 0 0 35px #EDF33D; }
  50% { box-shadow: 0 0 25px #EDF33D; }
  75% { box-shadow: 0 0 10px #EDF33D; }
  100% { box-shadow:none; }
}
@-webkit-keyframes blueGlow {
  0% { box-shadow: 0 0 50px #096DBE; }
  25% { box-shadow: 0 0 35px #096DBE; }
  50% { box-shadow: 0 0 25px #096DBE; }
  75% { box-shadow: 0 0 10px #096DBE; }
  100% { box-shadow:none; }
}
@-webkit-keyframes blink {
  0% {opacity:1;}
  50% {opacity:0;}
  100% {opacity:1;}
}
@-webkit-keyframes blinkFade {
  0% {opacity:1;}
  15% {opacity:.7;}
  30% {opacity:.3;}
  50% {opacity:0;}
  65% {opacity:.3;}
  80% {opacity:.7;}
  100% {opacity:1;}
}
