#video-player-input-wrapper, #video-player {
  text-align:center;
}
#video-player-input-wrapper {
  margin-bottom:10px;
}
#video-player-input-wrapper input {
  width:640px;
  height:25px;
}
#video-player-controls {
  margin-bottom:10px;
}
#video-player-slice-button {
  margin-bottom:5px;
  font-weight:bold;
}
#video-player {
  margin-bottom:10px;
}
#video-player-slice-panel {
  /*Fix padding overflow*/
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  margin-left:auto;
  margin-right:auto;
  background:black;
  width:640px;
  padding:10px;
}
.video-player-slice {
  display:inline-block;
  color:white;
  background: #b31217;
  border-left:solid 2px white;
  border-right:solid 2px white;
  padding:2px 4px;
  margin:2px;
}
.video-player-slice-grab {
  cursor:e-resize;
}
#EmberYoutube-player {
  width:640px;
  height:360px;
}
.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
