@import './general.css';
#project-list-container, #video-player-container, #slice-sidebar-container {
  padding:10px 0;
  margin:10px 0;
}
#video-player-container {
  border:solid 1px lightgray;
}
#video-player-input-wrapper {
  margin-bottom:10px;
}
#video-player-input-wrapper input {
  width:640px;
  height:25px;
}
#video-player-controls {
  margin-bottom:10px;
  width:640px;
}
#video-player-slice-button {
  margin-bottom:5px;
  font-weight:bold;
  font-size:1.1em;
  border:solid 1px darkgray;
}
#video-player {
  margin-bottom:10px;
}
#EmberYoutube-player {
  border:solid 1px gray;
  width:640px;
  height:360px;
}
#video-player-slice-panel {
  outline:solid 1px lightgray;
  /*Fix padding overflow*/
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  width:640px;
  color:white;
  text-align:center;
}
.video-player-slice-parent {
  border-bottom:solid 1px lightgray;
}
.video-player-slice-parent:last-child {
  border-bottom:none;
}
.video-player-slice-wrapper {
  display:block;
  position:relative;
  /*border-right:solid 1px lightgray;
  border-left:solid 1px lightgray;
  border-bottom:solid 1px lightgray;*/
  left: 12px;
  height:20px;
  width:616px;
  padding:5px 0;
}
.video-player-slice {
  cursor:pointer;
  height:20px;
  width:100%;
  position:absolute;
  left:0;
  color:white;
  background: #b31217;
}
.video-player-slice.active {
  background: #f12b24;
}
.video-player-slice-controls {
  position:absolute;
  display:inline-block;
  height:100%;
}
.video-player-slice-delete {
  font-weight:bold;
  color:lightgray;
}
.video-player-slice-controls.left {
  right:628px;
  width:60px;
}
.video-player-slice-controls.right {
  width:40px;
  left:628px;
}
.video-player-slice-adjuster {
  color:lightgray;
  font-weight:bold;
  text-decoration:none;
}
#video-player-slice-progress-indicator {
  height: 100%;
  width: 2px;
  display: inline-block;
  background: black;
  position: absolute;
  left:0;
}

#slice-sidebar {
  margin:0 10px
}
